
unity/03/Library/AnnotationManager

/unity/03/Temp/UnityLockfile
/unity/03/.vs/New Unity Project/v16/.suo
/unity/03/.vsconfig
/unity/03/Assembly-CSharp.csproj
/unity/03/obj
/unity/03/Logs/Packages-Update.log
/unity/03/New Unity Project.sln
